body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url("../../public/img/dashboard.jpg")center / cover no-repeat fixed;
    justify-content: center;
    align-items: center;
}
.header-dashboard{
    background-color: #1A242F;
}
.header-dashboard{
    color: #F2F2FC;
}
.content-dashboard{
    background-color: #1A242F;
}
.card-dashboard{
    background-color: #F2F2FC;
}
@media all and (max-width: 1025px){
    .post-content{
        margin-top: 25%;
    }
}
@media all and (max-width: 768px){
    body{
        background: none;
    }
    .post-content{
        margin-top: 0;
    }
}