body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url("../../public/img/home.jpg")center / cover no-repeat fixed;
    justify-content: center;
    align-items: center;
}
.black-home{
    color: #090809;
}
h3{
    color: #FBFEF9;
}
.home-text-content{
    color: #FBFEF9;
}
.site-container{
    height: 100%;
    min-height: 100%;
}
.header-btn{
    background-color: #1A242F;
    color: #F2F2FC;
}
#home-welcome{
    margin-top: 30%;
}
#home-post-container{
    display: flex;
}

.header-home{
    /*background-color: rgba(214, 207, 215,0.1);*/

    margin: 0 auto;
}

.title-home{
    color: #1C1C1C;
}

#note-home{
    margin-top: 30%;
}
.note-home{
    background-color: #1A242F;
}

.last-article-home{
    background-color: #EDF2F4;
}

@media all and (max-width: 770px){
    .header-home{
        background-color: rgba(26, 36, 47, 0.7);
        width: 100%;
        margin: 0 auto;
    }
    #about-home{
        text-align: center;
    }
    #home-post-container{
        display: inline;
    }
}