body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url("../../public/img/wall.jpg")center / cover no-repeat fixed;
    justify-content: center;
    align-items: center;
}
.site-container{
    height: 100%;
    min-height: 100%;
}

#home-welcome{
    margin-top: 30%;
}
#home-post-container{
    display: flex;

}
#home-post-container h3{
    text-align: center;
}
#home-post-container p{
    font-size: 12px;
}
#note-home{
margin-top: 20%;
}

@media all and (max-width: 770px){
#about-home{
    text-align: center;
}
    #home-post-container{
        display: inline;
    }
}