
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -1000px;
}

.bar {
    position: fixed;
    left: 0%;
    left: 0%;
    top: 2%;
    width: 50px;
    height: 15px;
    z-index: 15;
    background-color: #18448d;
    transition: all 0.3s;
    border: 1px inset #331902;
}

span.bar:nth-child(1) {
    margin-top: -15px;
}

span.bar:nth-child(3) {
    margin-top: 15px;
}

[type="checkbox"]:checked + label span.bar:nth-child(2) {
    opacity: 0;
}

[type="checkbox"]:checked + label span.bar:nth-child(1) {
    margin-top: 0;
    transform: rotate(-45deg);
}

[type="checkbox"]:checked + label span.bar:nth-child(3) {
    margin-top: 0;
    transform: rotate(45deg);
}

.menu {
    position: relative;
}

.nav-menu {
    position: fixed;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    top: 10px;
    left: -400px;
    background-color: white;
}

.nav-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 10;
    background-color: white;
    margin-left: 65px;
}

.menu input#menuburger[type="checkbox"]:checked ~ .nav-menu {
    display: block;
    transition-property: transform;
    transition-duration: 1s;
    transform: translateX(412px)
}

.nav-menu a:hover {
    background-color: rgba(225, 212, 190, 0.5);
    color: #331902;
    text-decoration: none;
}

.nav-menu > a:nth-child(1) {
    margin-top: 65px
}


